@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
}

.container-fluid {
    position: relative;
}

.background-container {
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
}

.background-container h1 {
    position: absolute;
    left: 13%;
    top: 5.2%;
    bottom: 90.63%;

    font-weight: bold;
    font-size: 29px;
    line-height: 40px;
    font-style: normal;
}

.background-container h2 {
    position: absolute;
    left: 14%;
    top: 76%;

    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    font-style: normal;
}

.background-container p {
    position: absolute;
    left: 14%;
    top: 83%;

    font-weight: normal;
    line-height: 23px;
    font-style: normal;
}

.background-container .img-container {
    display: flex;
    position: relative;
}

.background-container .img-container img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.background-container .phone {
    position: absolute;
    left: 250px;
    top: 120px;
}

.background-container .phone2 {
    position: absolute;
    left: 95px;
    top: 120px;
}

.form-container {
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.pin-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pin-box h2 {
    margin-top: 100px;

    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    font-style: normal;

    color: #3A3D42;
}

.pin-box p {
    font-style: normal;
    font-weight: normal;
    line-height: 30px;

    color: rgba(58, 61, 66, 0.6);
}

.pin-box .digit-group input{
    display: flex;
    flex-direction: column;

    width: 45px;
    height: 55px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: left;
    background-color: #fff;


    border: 1px solid rgba(169, 169, 169, 0.6);
    border-radius: 10px;
}

.pin-box button[type="submit"] {
    position: relative;
    top: 40px;

    width: 433px;
    height: 57px;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;

    background: #DADADA;
    border-radius: 12px;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);

    color: #88888F;
}

@media (max-width: 1300px) {
    .background-container {
        height: 140vh;
    }

    .background-container .phone {
        left: 210px;
    }
    
    .background-container .phone2 {
        left: 50px;
    }

    .background-container h2 {
        left: 80px;
    }

    .background-container p {
        left: 80px;
    }

    .pin-box button[type="submit"] {
        width: 100%;
        height: 57px;
    }
}

@media (max-width: 1100px) {
    .background-container {
        height: 140vh;
    }

    .background-container .phone {
        left: 180px;
    }
    
    .background-container .phone2 {
        left: 20px;
    }

    .background-container h2 {
        left: 60px;
    }

    .background-container p {
        left: 60px;
    }

    .pin-box button[type="submit"] {
        width: 280px;
        height: 57px;
    }
}

@media (max-width: 992px) {
    .background-container {
        height: 170vh;
    }

    .background-container .phone {
        left: 170px;
    }
    
    .background-container .phone2 {
        left: 10px;
    }

    .background-container h2 {
        top: 700px;
        left: 20px;
    }

    .background-container p {
        top: 760px;
        left: 20px;
    }

    .form-box button[type="submit"] {
        width: 280px;
        height: 57px;
    }
}

@media (max-width: 844px) {
    .background-container .phone {
        left: 130px;
    }
    
    .background-container .phone2 {
        left: -30px;
    }
}

@media (max-width: 768px) {
    .background-container .phone {
        left: 280px;
    }
    
    .background-container .phone2 {
        left: 120px;
    }

    .background-container h2 {
        left: 130px;
    }

    .background-container p {
        left: 130px;
    }

    .form-box button[type="submit"] {
        width: 100%;
        height: 57px;
    }
}

@media (max-width: 699px) {
    .background-container .phone {
        left: 250px;
    }
    
    .background-container .phone2 {
        left: 90px;
    }
}

@media (max-width: 622px) {
    .background-container .phone {
        left: 200px;
    }
    
    .background-container .phone2 {
        left: 40px;
    }

    .background-container h2 {
        left: 90px;
    }

    .background-container p {
        left: 90px;
    }
}

@media (max-width: 590px) {
    .background-container .phone {
        left: 220px;
    }
    
    .background-container .phone2 {
        left: 50px;
    }

    .background-container h2 {
        left: 70px;
    }

    .background-container p {
        left: 70px;
    }

    .form-box button[type="submit"] {
        width: 100%;
        height: 57px;
    }
}

@media (max-width: 576px) {
    .background-container .phone {
        left: 200px;
    }
    
    .background-container .phone2 {
        left: 30px;
    }

    .form-box .heading {
        margin-top: -10%;
    }

    .pin-box .heading {
        margin-top: -10%;
    }
}

@media (max-width: 447px) {
    .pin-box button[type="submit"] {
        bottom: 100%;
    }
}

@media (max-width: 434px) {
    .pin-box .digit-group input {
        margin-left: 5px;
    }
}

@media (max-width: 353px) {
    .pin-box .digit-group input {
        margin-left: 3px;
    }
}

@media (max-width: 345px) {
    .pin-box .digit-group input {
        margin-left: 0px;
    }

    .pin-box button[type="submit"] {
        top: 5%;
    }
}