html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
}

nav .navbar-brand {
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 40px;

    color: #FFFFFF !important;
}

nav .btn{
    margin-top: 10px;
    margin-right: 15px;
}

nav .btn-login {
    width: 120px;
    height: 48px;
    padding-top: 10px;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

    color: #FFFFFF;

    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    transition: .3s;
}

nav .btn-login:hover {
    color: #FFFFFF;
    transform: scale(1.05);
}

nav .btn-sign-up {
    width: 120px;
    height: 48px;
    padding-top: 10px;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

    color: #6379F4;

    background: #FFFFFF;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    transition: .3s;
}

nav .btn-sign-up:hover {
    color: #6379F4;
    transform: scale(1.05);
}

.jumbotron {
    background-image: url(../img/bg-landing-page.png);
    background-repeat: no-repeat;
    height: 800px;
    margin-top: -75px;
    margin-bottom: 0px;
}

.jumbotron .text-jumbotron {
    margin-top: 20%;

    font-style: normal;
    font-weight: 800;
    font-size: 68px;
    line-height: 102px;
    text-align: center;

    color: #FFFFFF;
}

.jumbotron p {
    margin-top: 5%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;

    color: #FFFFFF;
}

.jumbotron .btn-try {
    width: 173px;
    height: 57px;
    margin-top: 3%;
    margin-left: 43%;
    

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #6379F4;
    
    background: #FFFFFF;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
}

section h1, .why {
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 93px;
    margin-top: 10%;
    color: #3A3D42;

    text-align: center;
}

section p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    text-align: center;

    color: #3A3D42;
}

section.why-choose-zwallet,
section.money-has-been-transfered,
section.user  {
    min-height: 600px;
    background: #FFFFFF;
}

section.why-choose-zwallet .why,
section.money-has-been-transfered .text-money,
section.features .great,
section.user .say {
    color: #6379F4;
}

section.why-choose-zwallet p.text-main {
    margin-top: 3%;
}

section.why-choose-zwallet .card {
    display: flex;
    flex-direction: column;

    width: 366px;
    height: 344px;
    margin-top: 15%;

    background: #FFFFFF;
    box-shadow: 0px 4px 250px rgba(172, 172, 172, 0.15);
    border-radius: 25px;
    border: none;
}

section.why-choose-zwallet .card.card-no-bg {
    background: none;
    box-shadow: none;
    border-radius: none;
    border: none;
}

section.why-choose-zwallet .card img {
    max-width: 100%;
    height: auto;
    object-fit: contain;

    margin-top: 5%;
}

section.why-choose-zwallet .card h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    margin-top: 5%;

    color: #3A3D42;
}

section.why-choose-zwallet .card p {
    margin-top: 5%;
    color: rgba(58, 61, 66, 0.9);
}

section.logo {
    margin-top: 10%;
    min-height: 300px;
    background: rgba(71, 58, 209, 0.06);
}

section.logo img {
    margin-top: 60%;
}

section.money-has-been-transfered .btn-money {
    width: 720px;
    height: 170px;

    font-style: normal;
    font-weight: 800;
    font-size: 68px;
    line-height: 102px;
    text-align: center;
    padding-top: 25px;
    margin-top: 10%;
    margin-left: 18%;

    color: #6379F4;

    background: rgba(71, 58, 209, 0.06);
    border-radius: 85px;
}

section.money-has-been-transfered h1 {
    margin-top: 5%;
}

section.money-has-been-transfered p {
    margin-top: 3%;
}

section.features {
    margin-top: 10%;
    min-height: 1000px;
    background: rgba(71, 58, 209, 0.06);
}

section.features h1 {
    margin-top: 20%;
}

section.features .image-phone {
    display: flex;
    position: relative;
    margin-top: 20%;
}

section.features .image-phone img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

section.features .image-phone .phone2 {
    position: absolute;
    left: -42%;
    transform: matrix(0.97, -0.15, 0.15, 0.97, 0, 0);
}

section.features .image-phone .phone {
    position: absolute;
    top: 38px;
    left: -15%;
    transform: matrix(0.97, 0.10, -0.10, 0.97, 0, 0);

}

section.features h1 {
    text-align: left;
}

section.features .features-card {
    width: 620px;
    height: 127px;
    margin-top: 5%;

    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}

section.features .features-card .text-card {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
}

section.features .features-card h6 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 31px;

    color: #3A3D42;
}

section.features .features-card .number {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 31px;

    color: #6379F4;
}

section.features .features-card p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    text-align: left;
 
    color: rgba(58, 61, 66, 0.9);
}

section.user .card-user{
    width: 800px;
    height: 496px;
    background: #FFFFFF;
    box-shadow: 0px 5px 70px rgba(197, 197, 197, 0.15);
    border-radius: 30px;
    margin: 5% auto;
    position: relative;
}

section.user .card-user img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

section.user .card-user h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 40px;
    text-align: center;
    margin-top: 3%;

    color: #373C46;
}

section.user .card-user p.designer {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 33px;
    text-align: center;

    color: #56585B;
}

section.user .card-user p.user-word {
    margin-top: 3%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    text-align: center;

    color: #676A71;
}

section.user .btn-arrow-left,
section.user .btn-arrow-right {
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 5px 70px rgba(149, 148, 148, 0.15);
    border-radius: 20px;
}

section.user .btn-arrow-left,
section.user .btn-arrow-right {
    position: absolute;
    top: 50%;
}

section.user .btn-arrow-left {
    position: absolute;
    right: 110%;
}

section.user .btn-arrow-right {
    position: absolute;
    left: 110%;
}

footer {
    width: 100%;
    height: 438px;
    background: #6379F4;
}

footer h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    margin-top: 5%;

    color: #FFFFFF;
}

footer p.about {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    margin-top: 3%;

    color: rgba(239, 239, 239, 0.75);
}

footer hr {
    margin-top: 5%;
    border: 1px solid rgba(255, 255, 255, 0.6);
}

footer .text-bottom {
    margin-top: 3%;
}


@media (max-width: 1300px) {
    section.why-choose-zwallet .card {
        width: 100%;
    }

    section.money-has-been-transfered .btn-money {
        width: 720px;
        margin-left: 20%;
    }

    section.user .btn-arrow-left {
        right: 105%;
    }
    
    section.user .btn-arrow-right {
        left: 105%;
    }
}

@media (max-width: 1100px) {
    section.money-has-been-transfered .btn-money {
        width: 720px;
        margin-left: 15%;
    }

    section.user .btn-arrow-left {
        right: 100%;
    }
    
    section.user .btn-arrow-right {
        left: 100%;
    }
}

@media (max-width: 992px) {
    section.money-has-been-transfered .btn-money {
        width: 520px;
    
        font-size: 40px;
        padding-top: 25px;
        margin-left: 10%;
    
    }

    section.user .btn-arrow-left {
        top: 35%;
        right: 90%;
    }
    
    section.user .btn-arrow-right {
        top: 35%;
        left: 90%;
    }
}

@media (max-width: 768px) {
    nav .navbar-brand {
        color: #FFFFFF;
    }

    nav.navbar-light {
        background: #6379F4;
    }

    nav .navbar-nav {
        display: flex;
        flex-direction: row;
    }

    nav .btn {
        margin: auto;
        margin-left: 50px;
    }

    .jumbotron {
        margin-top: 0px;
    }

    .jumbotron .btn-try {
        margin-left: 30%;
    }

    section.why-choose-zwallet .card {
        width: 366px;
        margin: 10px auto;
    }

    section.money-has-been-transfered .btn-money {
        width: 520px;
    
        font-size: 40px;
        padding-top: 25px;
        margin-left: 0%;
    
    }

    footer hr {
        margin-top: 20%;
    }
    
    footer .text-bottom {
        margin-top: 3%;
    }
}

@media (max-width: 576px) {
    section.money-has-been-transfered .btn-money {
        width: 420px;
        margin-left: 10%;
    }

    section.user .btn-arrow-left {
        top: 35%;
        right: 86%;
    }
    
    section.user .btn-arrow-right {
        top: 35%;
        left: 86%;
    }
}

@media (max-width: 495px) {
    section.money-has-been-transfered .btn-money {
        margin-left: 5%;
    }
}