@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
    background: #E5E5E5;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-bottom: 0;
    margin-top: 30px;
}

nav {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #000;
    height: 130px;
}

nav .text-zwallet {

    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 40px;

    color: #6379F4;
}

nav .nav-right {
    display: flex;
}

nav .nav-right img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

nav .nav-right .name-phone {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

nav .nav-right span {
    margin-left: 30px;
    margin-top: 15px;
}

aside {
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    height: 710px;
    width: 270px;
    padding-top: 50px;

    position: relative;
}

aside .main-menu {
    display: flex;
    flex-direction: column;
}

aside .main-menu .menu {
    margin-bottom: 50px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    list-style-type: none;

    color: #3A3D42;
}

aside .main-menu .dashboard-active {
    border-left: 4px solid #6379F4;
    height: 10%;
}

aside .main-menu .menu.dashboard-active span.dashboard {
    color: #6379F4;
    border-left: none;
    margin-left: 40px;
}

aside .main-menu .menu span {
    margin-left: 40px;
}

aside .main-menu .menu a {
    color: #3A3D42;
    margin-left: 20px;
    padding-bottom: 70px;
}

aside .main-menu .menu a.dashboard {
    color: #6379F4;
}

aside .main-menu .menu a:hover {
    text-decoration: none;
    color: #3A3D42;
}

aside .main-menu .menu a.dashboard:hover {
    color: #6379F4;
}

aside .main-menu .menu-logout {
    position: absolute;
    bottom: 0px;
}

main {
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    margin-left: 10px;

    height: 710px;
    width: 850px;
    position: relative;
}

main .transaction {
    position: absolute;
    left: 10%;
    top: 10%;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;

    color: #3A3D42;
}

main p.this-week {
    position: absolute;
    left: 10%;
    top: 18%;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;

    color: #7A7886;
}

main p.this-month {
    position: absolute;
    left: 10%;
    top: 58%;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;

    color: #7A7886;
}

main .history img {
    position: absolute;
    left: 10%;
    top: 28%;
}

main .history .text {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 20%;
    top: 28%;
}

main .history .text .samuel,
main .history-netflix .text-netflix .netflix,
main .history-christine .text-christine .christine,
main .history-adobe .text-adobe .adobe {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;

    color: #4D4B57;
}

main .history .text .transfer,
main .history-netflix .text-netflix .subscription,
main .history-christine .text-christine .transfer,
main .history-adobe .text-adobe .subscription {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: #7A7886;
}

main .history .samuel-tf {
    position: absolute;
    right: 5%;
    top: 30%;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: right;

    color: #1EC15F;
}

main .history-netflix img {
    position: absolute;
    left: 10%;
    top: 43%;
}

main .history-netflix .text-netflix {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 20%;
    top: 43%;
}

main .history-netflix .netflix-sub {
    position: absolute;
    right: 5%;
    top: 46%;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: right;

    color: #FF5B37;
}

main .history-christine img {
    position: absolute;
    left: 10%;
    top: 68%;
}

main .history-christine .text-christine {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 20%;
    top: 68%;
}

main .history-christine .christine-tf {
    position: absolute;
    right: 5%;
    top: 71%;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: right;

    color: #1EC15F;
}

main .history-adobe img {
    position: absolute;
    left: 10%;
    top: 83%;
}

main .history-adobe .text-adobe {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 20%;
    top: 83%;
}

main .history-adobe .adobe-sub {
    position: absolute;
    right: 5%;
    top: 85%;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: right;

    color: #FF5B37;
}

footer {
    position: relative;
    bottom: 0;

    background: #6379F4;
    height: 68px;
    width: 100%;
    color: #fff;

    margin-top: 30px;
}

footer .left-copyright {
    position: absolute;
    left: 10%;
    top: 37%;
}

footer .right-number {
    position: absolute;
    left: 65%;
    top: 37%;
}

footer .right-contact {
    position: absolute;
    left: 78%;
    top: 37%;
}

@media (max-width: 1300px) {
    footer .right-number {
        left: 60%;
    }
}

@media (max-width: 1100px) {
    .main-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    aside {
        width: 100%;
        height: 150px;
    }

    aside .main-menu {
        display: flex;
        flex-direction: row;
    }

    aside .main-menu .menu-logout {
        right: 5%;
        top: 33%;
    }

    main {
        width: 100%;
        margin: 10px auto;
    }

    footer .right-number {
        left: 58%;
    }
}

@media (max-width: 992px) {
    .main-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    aside {
        width: 100%;
        height: 180px;
    }

    aside .main-menu {
        display: flex;
        flex-direction: row;
    }

    aside .main-menu .menu-logout {
        left: 1%;
        top: 55%;
    }

    main {
        width: 100%;
        margin: 10px auto;
    }

    footer .right-number {
        left: 58%;
    }
}

@media (max-width: 768px) {
    nav .text-zwallet {
        margin-left: 20px;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    aside {
        width: 100%;
        height: 200px;
    }
    
    aside .main-menu {
        display: flex;
        flex-direction: row;
    }

    aside .main-menu .menu a {
        margin-left: 10px;
    }

    aside .main-menu .menu span {
        margin-left: 15px;
    }

    aside .main-menu .menu-logout {
        left: 30px;
        bottom: 0px;
    }

    main {
        width: 100%;
        margin: 10px auto;
    }

    main .transaction {
        top: 10%;
        left: 10%;
    }

    main .history .text,
    main .history-netflix .text-netflix,
    main .history-christine .text-christine,
    main .history-adobe .text-adobe{
        left: 30%;
    }

    main .samuel-tf,
    main .netflix-sub,
    main .christine-tf,
    main .adobe-sub {
        left: 72%;
    }

    footer .left-copyright {
        left: 0;
    }

    footer .right-number {
        left: 42%;
    }

    footer .right-contact {
        left: 72%;
    }
}

@media (max-width: 576px) {
    aside {
        height: 150px;
    }

    aside .main-menu .menu a {
        display: none;
    }

    aside .main-menu .menu span {
        margin-left: 70px;
    }

    aside .main-menu .menu-logout {
        margin-top: -30px;
        margin-left: 299px;
    }

    footer {
        height: 100px;
    }

    footer .left-copyright {
        top: 10%;
        left: 30%;
    }

    footer .right-number {
        left: 37%;
        top: 35%;
    }

    footer .right-contact {
        left: 36.40%;
        top: 60%;
    }
}

@media (max-width: 461px) {
    aside .main-menu .menu-logout {
        margin-left: 270px;
    }
}

/* Pixel 2/Pixel 2 XL/Iphone(6/7/8) Plus */
@media (max-width: 415px) {
    nav .text-zwallet {
        margin-left: 130px;
    }

    nav .nav-right {
        margin-right: 50px;
    }

    aside {
        height: 100px;
    }

    aside .main-menu .menu {
        margin-top: -15px;
    }

    aside .main-menu .menu a {
        display: none;
    }

    aside .main-menu .menu span {
        margin-left: 30px;
    }

    aside .main-menu .menu-logout {
        margin-top: -5px;
        margin-left: 280px;
    }

    footer {
        height: 100px;
    }

    footer .left-copyright {
        top: 10%;
        left: 30%;
    }

    footer .right-number {
        left: 37%;
        top: 35%;
    }

    footer .right-contact {
        left: 36.40%;
        top: 60%;
    }
}

/* Galaxy Note 3/Galaxy S5/Iphone(6/7/8)/Iphone X */
@media (max-width: 379px) {
    nav .text-zwallet {
        margin-left: 100px;
    }

    nav .nav-right {
        margin-right: 15px;
    }

    aside {
        height: 100px;
    }

    aside .main-menu .menu {
        margin-top: -15px;
    }

    aside .main-menu .menu a {
        display: none;
    }

    aside .main-menu .menu span {
        margin-left: 30px;
    }

    aside .main-menu .menu-logout {
        margin-top: -5px;
        margin-left: 215px;
    }

    main .history .samuel-tf,
    main .history-netflix .netflix-sub,
    main .history-christine .christine-tf,
    main .history-adobe .adobe-sub  {
        left: 20%;
    }

    footer {
        height: 100px;
    }

    footer .left-copyright {
        top: 10%;
        left: 20%;
    }

    footer .right-number {
        left: 29%;
        top: 35%;
    }

    footer .right-contact {
        left: 28.40%;
        top: 60%;
    }
}

/* iphone 4/5/SE */
@media (max-width: 325px) {
    nav .text-zwallet {
        margin-left: 100px;
    }

    nav .nav-right {
        margin-right: 0px;
    }

    aside {
        height: 100px;
    }

    aside .main-menu .menu {
        margin-top: -15px;
    }

    aside .main-menu .menu a {
        display: none;
    }

    aside .main-menu .menu span {
        margin-left: 25px;
    }

    aside .main-menu .menu-logout {
        margin-top: -5px;
        margin-left: 200px;
    }

    footer {
        height: 100px;
    }

    footer .left-copyright {
        top: 10%;
        left: 15%;
    }

    footer .right-number {
        left: 27%;
        top: 35%;
    }

    footer .right-contact {
        left: 26.40%;
        top: 60%;
    }
}