@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
    background: #E5E5E5;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-bottom: 0;
    margin-top: 30px;
}

nav {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #000;
    height: 130px;
}

nav .text-zwallet {

    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 40px;

    color: #6379F4;
}

nav .nav-right {
    display: flex;
}

nav .nav-right img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

nav .nav-right .name-phone {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

nav .nav-right span {
    margin-left: 30px;
    margin-top: 15px;
}

aside {
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    height: 710px;
    width: 270px;
    padding-top: 50px;

    position: relative;
}

aside .main-menu {
    display: flex;
    flex-direction: column;
}

aside .main-menu .menu {
    margin-bottom: 50px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    list-style-type: none;

    color: #3A3D42;
}

aside .main-menu .transfer-active {
    border-left: 4px solid #6379F4;
    height: 10%;
}

aside .main-menu .menu.transfer-active span.transfer {
    color: #6379F4;
    border-left: none;
    margin-left: 40px;
}

aside .main-menu .menu span {
    margin-left: 40px;
}

aside .main-menu .menu a {
    color: #3A3D42;
    margin-left: 20px;
    padding-bottom: 70px;
}

aside .main-menu .menu a.transfer {
    color: #6379F4;
}

aside .main-menu .menu a:hover {
    text-decoration: none;
    color: #3A3D42;
}

aside .main-menu .menu a.transfer:hover {
    color: #6379F4;
}

aside .main-menu .menu-logout {
    position: absolute;
    bottom: 0px;
}

main {
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    margin-left: 10px;

    height: 710px;
    width: 850px;
    position: relative;
}

main .search-receiver {
    padding-left: 30px;
    padding-top: 50px;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;

    color: #3A3D42;
}

main .search-box {
    position: relative;
}

main .search-box input {
    width: 790px;
    height: 54px;
    background: rgba(58, 61, 66, 0.1);
    border-radius: 12px;
    border: none;
    margin-top: 3%;
    margin-left: 3%;
    padding-left: 45px; 
}

main .search-box input:focus {
    outline: none;
}

main .search-box span {
    color: #A9A9A9;
    margin-left: 5%;
    position: absolute;
    top: 50%;
}

main .content-search {
    display: flex;
    flex-direction: column;
    position: relative;
}

main .content-search .search-img img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin-top: 10%;
    margin-left: 10%;
}

main .content-search h6 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;

    color: #4D4B57;
}

main .content-search p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    
    color: #7A7886;
}

main .content-search .search-samuel {
    display: flex;
    width: 790px;
    height: 110px;
    margin-left: 2%;
    margin-top: 3%;

    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

main .content-search .search-samuel .text-samuel {
    display: flex;
    flex-direction: column;

    margin-left: 5%;
    margin-top: 3%;
}

main .content-search .search-momo {
    display: flex;
    width: 790px;
    height: 110px;
    margin-left: 2%;

    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;

    position: absolute;
    top: 110%;
}

main .content-search .search-momo .text-momo {
    display: flex;
    flex-direction: column;

    margin-left: 5%;
    margin-top: 3%;
}

main .content-search .search-jessica {
    display: flex;
    width: 790px;
    height: 110px;
    margin-left: 2%;

    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;

    position: absolute;
    top: 200%;
}

main .content-search .search-jessica .text-jessica {
    display: flex;
    flex-direction: column;

    margin-left: 5%;
    margin-top: 3%;
}

main .content-search .search-michael {
    display: flex;
    width: 790px;
    height: 110px;
    margin-left: 2%;

    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;

    position: absolute;
    top: 290%;
}

main .content-search .search-michael .text-michael {
    display: flex;
    flex-direction: column;

    margin-left: 5%;
    margin-top: 3%;
}

footer {
    position: relative;
    bottom: 0;

    background: #6379F4;
    height: 68px;
    width: 100%;
    color: #fff;

    margin-top: 30px;
}

footer .left-copyright {
    position: absolute;
    left: 10%;
    top: 37%;
}

footer .right-number {
    position: absolute;
    left: 65%;
    top: 37%;
}

footer .right-contact {
    position: absolute;
    left: 78%;
    top: 37%;
}

@media (max-width: 1300px) {
    main {
        width: 100%;
    }

    main .search-box input {
        width: 850px;
    }

    main .content-search .search-samuel,
    main .content-search .search-momo,
    main .content-search .search-jessica,
    main .content-search .search-michael {
        width: 850px;
    }

    footer .right-number {
        left: 60%;
    }
}

@media (max-width: 1100px) {
    .main-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    aside {
        width: 100%;
        height: 150px;
    }

    aside .main-menu {
        display: flex;
        flex-direction: row;
    }

    aside .main-menu .menu.transfer-active {
        border-left: none;
    }

    aside .main-menu .menu-logout {
        right: 5%;
        top: 33%;
    }

    main {
        width: 100%;
        margin: 10px auto;
    }

    main .search-box input {
        width: 880px;
    }

    main .content-search .search-samuel,
    main .content-search .search-momo,
    main .content-search .search-jessica,
    main .content-search .search-michael {
        width: 880px;
    }

    footer .right-number {
        left: 58%;
    }
}

@media (max-width: 992px) {
    .main-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    aside {
        width: 100%;
        height: 180px;
    }

    aside .main-menu {
        display: flex;
        flex-direction: row;
    }

    aside .main-menu .menu-logout {
        left: 1%;
        top: 55%;
    }

    main {
        width: 100%;
        margin: 10px auto;
    }

    main .search-box input {
        width: 650px;
    }

    main .content-search .search-samuel,
    main .content-search .search-momo,
    main .content-search .search-jessica,
    main .content-search .search-michael {
        width: 650px;
    }

    footer .right-number {
        left: 58%;
    }
}

@media (max-width: 768px) {
    nav .text-zwallet {
        margin-left: 20px;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    aside {
        width: 100%;
        height: 200px;
    }
    
    aside .main-menu {
        display: flex;
        flex-direction: row;
    }

    aside .main-menu .menu a {
        margin-left: 10px;
    }

    aside .main-menu .menu span {
        margin-left: 15px;
    }

    aside .main-menu .menu-logout {
        left: 2px;
        bottom: 0px;
    }

    main {
        width: 100%;
        margin: 10px auto;
    }

    main .search-box input {
        width: 650px;
    }

    main .content-search .search-samuel,
    main .content-search .search-momo,
    main .content-search .search-jessica,
    main .content-search .search-michael {
        width: 650px;
    }

    main .content-search .search-jessica {
        top: 260px;
    }

    main .content-search .search-michael {
        top: 390px;
    }

    footer .left-copyright {
        left: 0;
    }

    footer .right-number {
        left: 42%;
    }

    footer .right-contact {
        left: 72%;
    }
}

@media (max-width: 576px) {
    aside {
        height: 100px;
    }

    aside .main-menu .menu {
        margin-top: -15px;
    }

    aside .main-menu .menu a {
        display: none;
    }

    aside .main-menu .menu span {
        margin-left: 70px;
    }

    aside .main-menu .menu-logout {
        margin-top: -5px;
        margin-left: 299px;
    }

    main .search-box input {
        width: 420px;
    }

    main .content-search .search-samuel,
    main .content-search .search-momo,
    main .content-search .search-jessica,
    main .content-search .search-michael {
        width: 420px;
    }

    main .content-search .search-samuel .text-samuel,
    main .content-search .search-momo .text-momo,
    main .content-search .search-jessica .text-jessica,
    main .content-search .search-michael .text-michael {
        margin-top: 6%;
    }

    footer {
        height: 100px;
    }

    footer .left-copyright {
        top: 10%;
        left: 30%;
    }

    footer .right-number {
        left: 37%;
        top: 35%;
    }

    footer .right-contact {
        left: 36.40%;
        top: 60%;
    }
}

@media (max-width: 452px) {
    main .search-box input {
        width: 400px;
    }

    main .content-search .search-samuel,
    main .content-search .search-momo,
    main .content-search .search-jessica,
    main .content-search .search-michael {
        width: 400px;
    }
}

/* Pixel 2/Pixel 2 XL/Iphone(6/7/8) Plus */
@media (max-width: 437px) {
    nav .text-zwallet {
        margin-left: 130px;
    }

    nav .nav-right {
        margin-right: 50px;
    }

    aside {
        height: 100px;
    }

    aside .main-menu .menu {
        margin-top: -15px;
    }

    aside .main-menu .menu a {
        display: none;
    }

    aside .main-menu .menu span {
        margin-left: 30px;
    }

    aside .main-menu .menu-logout {
        margin-top: -5px;
        margin-left: 299px;
    }

    main .search-box input {
        width: 380px;
    }

    main .content-search .search-samuel,
    main .content-search .search-momo,
    main .content-search .search-jessica,
    main .content-search .search-michael {
        width: 380px;
    }

    main .content-search .search-samuel .text-samuel,
    main .content-search .search-momo .text-momo,
    main .content-search .search-jessica .text-jessica,
    main .content-search .search-michael .text-michael {
        margin-top: 6%;
    }

    footer {
        height: 100px;
    }

    footer .left-copyright {
        top: 10%;
        left: 30%;
    }

    footer .right-number {
        left: 37%;
        top: 35%;
    }

    footer .right-contact {
        left: 36.40%;
        top: 60%;
    }
}

@media (max-width: 416px) {
    main .search-box input {
        width: 360px;
    }

    main .content-search .search-samuel,
    main .content-search .search-momo,
    main .content-search .search-jessica,
    main .content-search .search-michael {
        width: 360px;
    }
}

@media (max-width: 394px) {
    main .search-box input {
        width: 330px;
    }

    main .content-search .search-samuel,
    main .content-search .search-momo,
    main .content-search .search-jessica,
    main .content-search .search-michael {
        width: 330px;
    }
}

@media (max-width: 381px) {
    main .search-box input {
        width: 330px;
    }

    main .content-search .search-samuel,
    main .content-search .search-momo,
    main .content-search .search-jessica,
    main .content-search .search-michael {
        width: 330px;
    }
}

/* Galaxy Note 3/Galaxy S5/Iphone(6/7/8)/Iphone X */
@media (max-width: 379px) {
    nav .text-zwallet {
        margin-left: 100px;
    }

    nav .nav-right {
        margin-right: 0px;
    }

    aside {
        height: 100px;
    }

    aside .main-menu .menu {
        margin-top: -15px;
    }

    aside .main-menu .menu a {
        display: none;
    }

    aside .main-menu .menu span {
        margin-left: 30px;
    }

    aside .main-menu .menu-logout {
        margin-top: -5px;
        margin-left: 230px;
    }

    main .search-box input {
        width: 300px;
    }

    main .content-search .search-samuel,
    main .content-search .search-momo,
    main .content-search .search-jessica,
    main .content-search .search-michael {
        width: 300px;
    }

    main .content-search .search-samuel .text-samuel,
    main .content-search .search-momo .text-momo,
    main .content-search .search-jessica .text-jessica,
    main .content-search .search-michael .text-michael {
        margin-top: 6%;
    }

    footer {
        height: 100px;
    }

    footer .left-copyright {
        top: 10%;
        left: 20%;
    }

    footer .right-number {
        left: 27%;
        top: 35%;
    }

    footer .right-contact {
        left: 26.40%;
        top: 60%;
    }
}

@media (max-width: 381px) {
    nav .nav-right {
        margin-right: 35px;
    }

    main .search-box input {
        width: 300px;
    }

    main .content-search .search-samuel,
    main .content-search .search-momo,
    main .content-search .search-jessica,
    main .content-search .search-michael {
        width: 300px;
    }
}

/* iphone 4/5/SE */
@media (max-width: 327px) {
    nav .text-zwallet {
        margin-left: 100px;
    }

    nav .nav-right {
        margin-right: 0px;
    }

    aside {
        height: 100px;
    }

    aside .main-menu .menu {
        margin-top: -15px;
    }

    aside .main-menu .menu a {
        display: none;
    }

    aside .main-menu .menu span {
        margin-left: 25px;
    }

    aside .main-menu .menu-logout {
        margin-top: -5px;
        margin-left: 200px;
    }

    main .search-box input {
        width: 280px;
    }

    main .content-search .search-samuel,
    main .content-search .search-momo,
    main .content-search .search-jessica,
    main .content-search .search-michael {
        width: 280px;
    }

    main .content-search .search-samuel .text-samuel,
    main .content-search .search-momo .text-momo,
    main .content-search .search-jessica .text-jessica,
    main .content-search .search-michael .text-michael {
        margin-top: 6%;
    }

    footer {
        height: 100px;
    }

    footer .left-copyright {
        top: 10%;
        left: 15%;
    }

    footer .right-number {
        left: 27%;
        top: 35%;
    }

    footer .right-contact {
        left: 26.40%;
        top: 60%;
    }
}

@media (max-width: 320px) {
    main .search-box input {
        width: 260px;
    }

    main .content-search .search-samuel,
    main .content-search .search-momo,
    main .content-search .search-jessica,
    main .content-search .search-michael {
        width: 260px;
    }
}
