@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
}

.container-fluid {
    position: relative;
}

.background-container {
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
    position: relative;
}

.background-container h1 {
    position: absolute;
    left: 13%;
    top: 5.2%;
    bottom: 90.63%;

    font-weight: bold;
    font-size: 29px;
    line-height: 40px;
    font-style: normal;
}

.background-container h2 {
    position: absolute;
    left: 14%;
    top: 75%;

    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    font-style: normal;
}

.background-container p {
    position: absolute;
    left: 14%;
    top: 83%;

    font-weight: normal;
    line-height: 23px;
    font-style: normal;
}

.background-container .img-container {
    display: flex;
    position: relative;
}

.background-container .img-container img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.background-container .phone {
    position: absolute;
    left: 250px;
    top: 120px;
}

.background-container .phone2 {
    position: absolute;
    left: 95px;
    top: 120px;
}

.form-container {
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.form-box {
    display: flex;
    flex-direction: column;
}

.form-box h2 {
    margin-top: 100px;

    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    font-style: normal;

    color: #3A3D42;
}

.form-box p {
    font-style: normal;
    font-weight: normal;
    line-height: 30px;

    color: rgba(58, 61, 66, 0.6);
}

.form-box .form-input {
    position: relative;
}

.form-box .form-input input {
    width: 100%;
    height: 40px;
    margin-bottom: 60px;
    border: none;
    border-radius: 0;
    border-color: rgba(169, 169, 169, 0.6) !important;
    border-style: solid !important;
    border-width: 0 0 1px 0 !important;
    outline: none;
    background: white;
    padding-left: 45px;
}

.form-box .form-input span {
    position: absolute;
    top: 8px;
    padding-left: 5px;
    color: rgba(169, 169, 169, 0.6);
}

.form-box .form-input span.span-eye {
    left: 370px;
    cursor: pointer;
}

.form-box .form-input span.span-eye:active {
    color: #000;
}

.forget-link {
    position: relative;
    top: -35px;

    font-style: normal;
    font-weight: 600;
    font-style: 14px;
    line-height: 24px;

    color: rgba(58, 61, 66, 0.8);
}

.forget-link:hover {
    text-decoration: none;
    color: rgba(58, 61, 66, 0.8);
}

.form-box button[type="submit"] {
    position: relative;
    top: 40px;

    width: 433px;
    height: 57px;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;

    background: #DADADA;
    border-radius: 12px;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border: none;

    color: #88888F;
}

.form-box .sign-up {
    position: relative;
    top: 50px;

    font-style: normal;
    font-weight: normal;
    line-height: 23px;

    color:rgba(58, 61, 66, 0.8);
}

.form-box .sign-up a:hover {
    text-decoration: none;
}

@media (max-width: 1300px) {
    .background-container {
        height: 140vh;
    }

    .background-container .phone {
        left: 210px;
    }
    
    .background-container .phone2 {
        left: 50px;
    }

    .background-container h2 {
        left: 80px;
    }

    .background-container p {
        left: 80px;
    }

    .form-box button[type="submit"] {
        width: 100%;
        height: 57px;
    }

    .form-box .form-input span.span-eye {
        left: 310px;
    }
}

@media (max-width: 1100px) {
    .background-container {
        height: 140vh;
    }

    .background-container .phone {
        left: 180px;
    }
    
    .background-container .phone2 {
        left: 20px;
    }

    .background-container h2 {
        left: 60px;
    }

    .background-container p {
        left: 60px;
    }

    .form-box button[type="submit"] {
        width: 280px;
        height: 57px;
    }

    .form-box .form-input span.span-eye {
        left: 250px;
    }
}

@media (max-width: 992px) {
    .background-container {
        height: 170vh;
    }

    .background-container .phone {
        left: 170px;
    }
    
    .background-container .phone2 {
        left: 10px;
    }

    .background-container h2 {
        top: 700px;
        left: 20px;
    }

    .background-container p {
        top: 760px;
        left: 20px;
    }

    .form-box button[type="submit"] {
        width: 280px;
        height: 57px;
    }

    .form-box .form-input span.span-eye {
        left: 260px;
    }
}

@media (max-width: 966px) {
    .form-box .form-input span.span-eye {
        left: 290px;
    }
}

@media (max-width: 844px) {
    .background-container .phone {
        left: 130px;
    }
    
    .background-container .phone2 {
        left: -30px;
    }

    .form-box .form-input span.span-eye {
        left: 250px;
    }
}

@media (max-width: 768px) {
    .background-container .phone {
        left: 280px;
    }
    
    .background-container .phone2 {
        left: 120px;
    }

    .background-container h2 {
        left: 130px;
    }

    .background-container p {
        left: 130px;
    }

    .form-box button[type="submit"] {
        width: 100%;
        height: 57px;
    }

    .form-box .form-input span.span-eye {
        left: 480px;
    }
}

@media (max-width: 699px) {
    .background-container .phone {
        left: 250px;
    }
    
    .background-container .phone2 {
        left: 90px;
    }

    .form-box .form-input span.span-eye {
        left: 430px;
    }
}

@media (max-width: 622px) {
    .background-container .phone {
        left: 200px;
    }
    
    .background-container .phone2 {
        left: 40px;
    }

    .background-container h2 {
        left: 90px;
    }

    .background-container p {
        left: 90px;
    }

    .form-box .form-input span.span-eye {
        left: 360px;
    }
}

@media (max-width: 590px) {
    .background-container .phone {
        left: 220px;
    }
    
    .background-container .phone2 {
        left: 50px;
    }

    .background-container h2 {
        left: 70px;
    }

    .background-container p {
        left: 70px;
    }

    .form-box button[type="submit"] {
        width: 100%;
        height: 57px;
    }

    .form-box .form-input span.span-eye {
        left: 350px;
    }
}

@media (max-width: 576px) {
    .background-container .phone {
        left: 200px;
    }
    
    .background-container .phone2 {
        left: 30px;
    }

    .form-box .heading {
        margin-top: -10%;
    }

    .form-box .form-input span.span-eye {
        left: 340px;
    }
}

@media (max-width: 572px) {
    .form-box .form-input span.span-eye {
        left: 480px;
    }
}

@media (max-width: 526px) {
    .form-box .form-input span.span-eye {
        left: 430px;
    }
}

@media (max-width: 489px) {
    .form-box .form-input span.span-eye {
        left: 390px;
    }
}

@media (max-width: 470px) {
    .form-box .form-input span.span-eye {
        left: 360px;
    }
}

@media (max-width: 458px) {
    .form-box .form-input span.span-eye {
        left: 320px;
    }

    .form-box button[type="submit"] {
        top: 5%;
    }
}

@media (max-width: 379px) {
    .form-box .form-input span.span-eye {
        left: 280px;
    }
}

@media (max-width: 346px) {
    .form-box .form-input span.span-eye {
        left: 220px;
    }

    .form-box button[type="submit"] {
        top: 5%;
    }

    .form-box .sign-up {
        top: 5%;
    }
}
